@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 2, 6, 23; /* رنگ سرمه‌ای خیلی تیره */
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #020617; /* رنگ پایه سرمه‌ای */
  font-family: system-ui, -apple-system, sans-serif;
  overflow-x: hidden; /* حذف اسکرول مزاحم افقی */
}

/* افکت تایپ */
.typing-cursor::after {
  content: "|";
  animation: blink 1s step-start infinite;
  color: #00f0ff; /* کرسر آبی نئونی */
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
